---
import Layout from "../../components/Layout/Layout.astro";
import { CodeExample } from "../../components/CodeExample";
import { getEntry } from "astro:content";

const example = await getEntry("examples", "todo-list");
if (!example) throw new Error("Example 'todo-list' not found");
const { title, description, files } = example.data;
---

<Layout title={title}>
  <h1>{title}</h1>
  <p>{description}</p>
  <CodeExample files={files} />
</Layout>
