@layer reset, global;
@import url("reset.css") layer(reset);

@layer global {
  :root {
    --font-sans:
      system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono:
      ui-monospace, sfmono-regular, menlo, monaco, consolas, "Liberation Mono",
      "Courier New", monospace;

    --color-surface-1: oklch(100% 0 0 / 1);
    --color-surface-2: oklch(95% 0 0 / 1);
    --color-surface-3: #ccc5a3;
    --color-surface-4: #9d937c;
    --color-text-primary: oklch(0% 0 0 / 1);
    --color-accent: oklch(50% 0.5 200);
    --color-border: oklch(0% 0 0 / 0.2);
    --color-border-hover: oklch(0% 0 0 / 0.3);
  }

  body,
  html {
    font-family: var(--font-sans);
    color: var(--color-text-primary);
    background: var(--color-surface-1);
  }

  .header {
    padding: 12px 24px;
    background: var(--color-surface-2);
    border-bottom: 1px solid var(--color-border);

    a {
      font-weight: 700;
      font-family: var(--font-mono);
      color: var(--color-text-primary);
      text-decoration: none;
    }
  }

  main {
    max-width: 968px;
    margin: 0 auto;

    h1 {
      margin-top: 64px;
    }
  }
}
