.container {
  display: flex;
  align-items: stretch;

  &[direction="horizontal"] {
    flex-direction: row;
    width: 100%;
  }

  &[direction="vertical"] {
    flex-direction: column;
    height: 100%;
  }
}

.pane {
  min-width: 0;
  min-height: 0;

  &:first-child {
    flex: 0 0 50%;
  }

  &:not(:first-child) {
    flex: 1 1 0;
  }
}
