.tabs {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tab {
  border: none;
  background: transparent;
  cursor: pointer;
  flex-shrink: 0;
  white-space: nowrap;
}
