---
import type { HTMLAttributes } from "astro/types";
import styles from "./styles.module.css";

type Props = HTMLAttributes<"button"> & {
  value: string;
};

const { value, class: className, ...rest } = Astro.props;
---

<button data-ref="tabs" data-value={value} class:list={[styles.tab, className]} role="tab" aria-selected="false" tabindex="-1" {...rest}>
  <slot />
</button>
