---
import styles from './styles.module.css';

type Props = {
  class?: string;
}

const { class: className } = Astro.props;
---
<div data-ref="panes" class:list={[styles.pane, className]}>
  <slot />
</div>
