@import url("./media.css");

:root {
  --layout-width: 1280px;
  --layout-sidebar-width: 248px;
  --layout-gap-y: calc(var(--spacing) * 12);
  --layout-gap-x: calc(var(--spacing) * 6);
  --layout-content-width: calc(
    var(--layout-width) - var(--layout-sidebar-width) - var(--layout-gap-x) * 3
  );
  --layout-header-offset: calc(var(--spacing) * 20);
  --layout-footer-offset: calc(var(--spacing) * 25);

  @media (--laptops) {
    --layout-gap-y: calc(var(--spacing) * 8);
    --layout-gap-x: calc(var(--spacing) * 4);
  }
}

body,
html {
  font-family: var(--font-sans);
  color: var(--color-text-primary);
  background: linear-gradient(to bottom, var(--color-surface-3), var(--color-surface-1) 800px);
}

a {
  color: var(--color-accent);
}

:focus-visible {
  outline: 2px solid var(--color-accent-focus);
  outline-offset: -2px;
}

[data-theme="dark"] .astro-code,
[data-theme="dark"] .astro-code span {
  color: var(--shiki-dark) !important;

}
