---
import "../../styles.css";
import { titleSuffix } from '../../constants';

type Props = {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title} | {titleSuffix}</title>
</head>
<body>
  <main class="container">
    <slot />
  </main>
</body>
</html>
