.handle {
  position: relative;
  z-index: 1;
  background: var(--color-border);

  &::after {
    content: "";

    position: absolute;

    display: block;

    opacity: 0;
    background: var(--color-accent);
  }

  &:hover,
  &[data-dragging="true"] {
    background: var(--color-border-hover);
  }

  &:focus-visible {
    background: var(--color-accent);
    outline: 2px solid var(--color-accent);
    outline-offset: -1px;
  }

  &[data-direction="vertical"] {
    cursor: row-resize;
    height: 1px;
  }

  &[data-direction="horizontal"] {
    cursor: col-resize;
    width: 1px;
  }

  &:hover::after,
  &[data-dragging="true"]::after {
    opacity: 0.6;
    transition: opacity 0.3s ease-out 0.2s;
  }

  &[data-direction="horizontal"]::after {
    inset: 0 -2px;
  }

  &[data-direction="vertical"]::after {
    inset: -2px 0;
  }
}
